body {
    color: black;
    /*text-align: center;*/
    font-family: Arial, "Lucida Console";
    font-size: x-large;
    background: rgb(155, 174, 142) url("OWL-background.png") no-repeat top right;
    background-size: 68%;
    /*background-attachment: fixed;*/
    margin-left: 4%;
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color: rgb(155,174,142);
    background-color: black;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: rgb(155,174,142);
    color: black;
}

table, td, th {
    border: 2px solid black;
    vertical-align: middle;
}

th {
    background-color: black;
    color: rgb(155,174,142);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

input[type=text] {
    padding:5px;
    border:2px solid;
    background-color: rgb(186, 210, 170);
    border-color: black;
    color: black;
}

input[type=date] {
    padding:5px;
    border:2px solid #ccc;
    background-color: rgb(186, 210, 170);
    color: black;
    border-color: black;
}

input[type=submit] {
    display: block;
    font-weight: bold;
    color: rgb(155,174,142);
    background-color: black;
    width: 120px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    border: none;
    font-size: small;
}

input[type=submit]:focus {
    display: block;
    font-weight: bold;
    color: black;
    background-color: rgb(155,174,142);
    width: 120px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    border: none;
    font-size: small;
}

input[type=submit]:hover {
    display: block;
    font-weight: bold;
    color: black;
    background-color: rgb(155,174,142);
    width: 120px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    border: none;
    font-size: small;
}

select {
    background-color: rgb(186, 210, 170);
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 2px solid;
    border-color:black;
    color:black;
}

option {
    background-color:rgb(186, 210, 170);
    color: black;
}

option:hover {
    background-color:black;
    color: rgb(186, 210, 170);
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 5px;
}


input[type=radio]{
     padding: 10px;
     width: 20px;
     height: 20px;
     vertical-align: middle;
     padding-bottom: 5px;
}

.error {
    color: darkred;
    font-size: medium;
}

